$webResourceManager.requireResource("com.github.ibraimgm.jira.jira-utility-pack:jira-utility-pack-resources")
<table class="psy_table" border="0" cellspaceing="0" cellpadding="0">
<tr><td colspan="2" class="psy_title">Psychiatric help</td></tr>
<tr><td colspan="2" class="psy_subtitle">Here we have ELIZA, to help you get your bearings.<br/>Don't be shy and talk about your inner feelings with her.</td></tr>
<tr><td colspan="2"><textarea id="e_display" name="e_display" cols="60" rows="20" readonly="readonly"></textarea></td></tr>
<tr>
<td style="padding-bottom:10px;"><input type="text" id="e_input" name="e_input" /></td>
<td style="width:50px; padding-bottom:10px;"><input type="button" value="Send" id="send" placeholder="Put your answer here and press [ENTER]" /></td>
</tr>
</table>
<script language="javascript" type="text/javascript">
elizaInit();
</script>
